.navbar {
  width: 100%;
  height: 12vh;
  display: flex;
  gap: 13vh;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.titleBlue {
  color: #2196f3;
}

@media screen and (max-width: 768px) {
  .contactList {
    flex-wrap: wrap;
  }

  .navbar {
    gap: 8.5vh;
  }
}
