.menuList {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.menuItem {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 30px 0 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.text {
  margin: 10px 0 0 0;
  max-width: 270px;
  text-wrap: wrap;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: none;
}

.icon {
  width: 70px;
  height: 70px;
}
.iconBox {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menuList {
    gap: 20px;
  }
}

@media screen and (max-width: 1160px) {
  .menuList {
    flex-wrap: wrap;
    justify-content: center;
  }

  .iconBox {
    width: 392px;
  }

  .text {
    max-width: 392px;
  }
}
@media screen and (max-width: 850px) {
  .menuList {
    gap: 20px;
    justify-items: center;
  }

  .iconBox {
    width: 344px;
  }
  .text {
    max-width: 344px;
  }
}

@media screen and (max-width: 730px) {
  .menuList {
    gap: 20px;
    align-items: center;
  }

  .menuItem {
    align-items: center;
  }

  .iconBox {
    width: 380px;
  }
  .text {
    width: 380px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .menuList {
    .iconBox {
      width: 270px;
    }
    .text {
      width: 270px;
    }
  }
}
