.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.titleBlue {
  color: #2196f3;
}

.link {
  text-decoration: none;
}

.mediaBtn {
  padding: 0;
  border: none;
  border-radius: 50%;
}

.mediaList {
  display: flex;
  flex-direction: row;
  gap: 3vh;
}

.subscribeBox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.subscribeForm {
  display: flex;
  flex-direction: row;
  gap: 2vh;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .mediaTitle {
    margin: 0;
  }

  .mediaList {
    gap: 10px;
  }

  .subscribeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }

  .subscribeForm {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
