.iconCard {
  border: 1px solid;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.menuList {
  display: flex;
  flex-direction: row;
  gap: 4vh;
}

.icon {
  width: 15vh;
  height: 10vh;
}

.mainTitle {
  padding: 0;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menuList {
    gap: 20px;
  }
}
