.photoBox {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.menuList {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.firstImg {
  background: url('../../images/img1.jpg') center / cover no-repeat;
}

.secondImg {
  background: url('../../images/img2.jpg') center / cover no-repeat;
}

.thirdImg {
  background: url('../../images/img3.jpg') center / cover no-repeat;
}
.label {
  background: #2f303acc;
  align-content: center;
  width: 370px;
  height: 70px;
  margin: -10vh 0 0 0;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  cursor: auto;
}

.mainTitle {
  padding: 0;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menuList {
    gap: 10px;
  }
}
